Options +FollowSymlinks
RewriteEngine On

RewriteBase /guerrero-cultural

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^pages/(.*)$ index.php?t=pages&r=$1 [L]
RewriteRule ^admin/(.*)$ index.php?t=admin&r=$1 [L]


